In [1]:
import boto3
import pandas as pd

In [2]:
s3 = boto3.client('s3')

In [3]:
df_product = pd.read_csv("s3://recommender-system-amazon/df_products.csv")

/home/ubuntu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df_review.shape

(12980837, 13)

In [15]:
df_product.head()

,Unnamed: 0,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
0,0,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Adult Tutu Assorted Colors (Turquoise),[],[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,NaN
1,1,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Bububibi Adult Ballet Tutu Cheetah Pink,[],[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,NaN
2,2,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Girls Ballet Tutu Neon Orange,['B01MYHD3LV'],[],NaN,Unknown,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","['>#924,198 in Toys & Games (See Top 100 in To...","['B0152HBC52', 'B07C29WWV1', 'B01M0BIP9H', 'B0...",Toys & Games,NaN,NaN,$5.70,0000031860,NaN
3,3,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['TUtu'],NaN,Girls Ballet Tutu Zebra Hot Pink,[],[],NaN,Tutu,['Tutu'],"1,314,199 in Sports & Outdoors (",['0000013714'],Sports & Outdoors,NaN,NaN,$7.50,0000031852,NaN
4,4,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['Dance tutu for girls ages 2-8 years. Perfect...,NaN,Girls Ballet Tutu Neon Blue,"['B009THXHPA', 'B00BEU1ZBI', 'B079PYLZTM', 'B0...",[],NaN,Bububibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","['>#393,597 in Toys & Games (See Top 100 in To...","['B009THXHPA', 'B079PYLZTM', 'B079PQPLT3', 'B0...",Toys & Games,NaN,NaN,$6.54,0000031895,NaN

In [7]:
df_product_img = df_product[df_product.astype(str)['image'] != '[]'].copy()

In [8]:
df_product_img.shape

(476483, 19)

In [9]:
df_all = pd.merge(df_product_img,df_review,on='asin')

In [10]:
df_all.head(1)

,Unnamed: 0_x,category,tech1,description,fit,title,also_buy,image_x,tech2,brand,...,verified,reviewTime,reviewerID,reviewerName,reviewText,summary,unixReviewTime,vote,style,image_y
0,6,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",NaN,['Deluxe Duffel Bag with full length zipper de...,NaN,6ft of Acid Free Linen Tape for Bookbinding,[],['https://images-na.ssl-images-amazon.com/imag...,NaN,Stansport,...,True,"09 7, 2017",A1BUNBDDEO1N4B,Tom,not used yet but looks fine,Four Stars,1504742400,NaN,NaN,NaN

In [11]:
df_all.columns

Index(['Unnamed: 0_x', 'category', 'tech1', 'description', 'fit', 'title',
       'also_buy', 'image_x', 'tech2', 'brand', 'feature', 'rank', 'also_view',
       'main_cat', 'similar_item', 'date', 'price', 'asin', 'details',
       'Unnamed: 0_y', 'overall', 'verified', 'reviewTime', 'reviewerID',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'style', 'image_y'],
      dtype='object')