In [1]:
import boto3
import pandas as pd
import numpy as np
import sys
from io import StringIO

In [2]:
sys.path.insert(1, '../src')

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
%reload_ext autoreload

In [5]:
s3 = boto3.client('s3')

In [6]:
df_all_15 = pd.read_csv("s3://recommender-system-amazon/df_all_15_text.csv")

In [7]:
df_all_15 = df_all_15[~(df_all_15['title_nlp'].isna())]
df_all_15 = df_all_15[~(df_all_15['item_text'].isna())]
df_all_15 = df_all_15[~(df_all_15['reviewText'].isna())]

In [14]:
df_all_15.columns

Index(['Unnamed: 0', 'category', 'description', 'title', 'also_buy', 'image_x',
       'brand', 'feature', 'rank', 'also_view', 'main_cat', 'price', 'asin',
       'overall', 'verified', 'reviewText', 'summary', 'unixReviewTime',
       'style', 'item_text', 'title_nlp'],
      dtype='object')

In [19]:
df_collab = df_all_15[["asin","overall"]].reset_index()

In [20]:
df_collab.head()

   index        asin  overall
0      0  0899332757      5.0
1      1  0899332757      4.0
2      2  0899332757      5.0
3      3  0899333257      5.0
4      4  0899333257      5.0