<a href="https://colab.research.google.com/github/alirezasdg1/Amazon-recommender-system/blob/master/notebooks/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## process text data

In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen
from google.colab import files
import numpy as np

import re
import urllib
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
!wget https://drive.google.com/file/d/1-DMw-nW7UfuzE3O4g7rKg8ej2xP9fbrE/view?usp=sharing

--2020-09-15 03:21:44--  https://drive.google.com/file/d/1-DMw-nW7UfuzE3O4g7rKg8ej2xP9fbrE/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 74.125.195.139, 74.125.195.100, 74.125.195.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.139|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘view?usp=sharing’

view?usp=sharing        [ <=>                ]  69.15K  --.-KB/s    in 0.03s

2020-09-15 03:21:44 (2.49 MB/s) - ‘view?usp=sharing’ saved [70807]

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df_all_15 = pd.read_csv("/content/drive/My Drive/Datasets/df_all_15.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_all_15.drop(['Unnamed: 0','tech1', 'tech2','Unnamed: 0_x','fit','similar_item','date','details','Unnamed: 0_y','reviewTime','reviewerID','reviewerName','vote','image_y'], axis=1,inplace=True)

In [8]:
df_all_15.head(2)

                                            category  ... Total_review_P
0  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...             94
1  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...             94

[2 rows x 20 columns]

In [ ]:
def text_process(text):
        text = re.sub(r'<[^>]*>', ' ', text).strip()
        text = text.lower()
        text = re.sub('\[.*?\]', '', text)
        text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
        text = re.sub('\w*\d\w*', '', text)
        text = re.sub('[‘’“”…]', '', text)
        text = re.sub('\n', '', text)
        nopunc = [char for char in text if char not in string.punctuation]

        nopunc = ''.join(nopunc)
        list_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
     
        stemmer_snowball = PorterStemmer()
 
        tokens_stemsnowball = [stemmer_snowball.stem(sent) for sent in list_words]

        return ' '.join(tokens_stemsnowball)

In [ ]:
def nlp_process(df):

    df["text"] = df["description"]+df["brand"]+df["feature"]+df["reviewText"]+df["summary"]+df['style']
        

    df['text'] = df['text'].apply(text_process)

    # vectorizer = TfidfVectorizer(min_df = 3,max_df = 0.8, max_features = 1200)
    # m_nlp = vectorizer.fit_transform(df["text"]).toarray()
    # df_nlp = pd.DataFrame(m_nlp, columns=vectorizer.get_feature_names())
    
    return df_nlp