## NLP 
I use AWS to performe my NLP processing

In [44]:
import boto3
import pandas as pd
import numpy as np
import sys
from io import StringIO

In [12]:
sys.path.insert(1, '../src')
from NLP import nlp_process

In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
%reload_ext autoreload

In [2]:
s3 = boto3.client('s3')

In [3]:
df_all_15 = pd.read_csv("s3://recommender-system-amazon/df_all_15_text.csv")

In [4]:
df_all_15.shape

(370252, 13)

In [5]:
df_all_15.head(5)

,Unnamed: 0,category,title,also_buy,image_x,rank,also_view,price,asin,overall,verified,text,title_nlp
0,0,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",Delorme New York State Atlas &amp; Gazetteer,"['0899334415', '0899334431', '0899333419', '08...",['https://images-na.ssl-images-amazon.com/imag...,"121,074 in Office Products (","['0528881922', '1569145792', '0899334431', '08...",$19.95,0899332757,5.0,False,garminif your interest explor area new york be...,delorm new york state atla amp gazett
1,1,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",Delorme New York State Atlas &amp; Gazetteer,"['0899334415', '0899334431', '0899333419', '08...",['https://images-na.ssl-images-amazon.com/imag...,"121,074 in Office Products (","['0528881922', '1569145792', '0899334431', '08...",$19.95,0899332757,4.0,True,garminwond comprehens atla littl largefour sta...,delorm new york state atla amp gazett
2,2,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",Delorme New York State Atlas &amp; Gazetteer,"['0899334415', '0899334431', '0899333419', '08...",['https://images-na.ssl-images-amazon.com/imag...,"121,074 in Office Products (","['0528881922', '1569145792', '0899334431', '08...",$19.95,0899332757,5.0,True,garmingreat product fast deliveri need rv trav...,delorm new york state atla amp gazett
3,3,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",Garmin DeLorme Atlas &amp; Gazetteer Paper Map...,"['0899334482', '0899334474', '0899333834', '19...",['https://images-na.ssl-images-amazon.com/imag...,"['>#84,484 in Office Products (See top 100)', ...",[],$21.96,0899333257,5.0,True,garmini delorm atla us state theyr amaz detail...,garmin delorm atla amp gazett paper map arizona
4,4,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",Garmin DeLorme Atlas &amp; Gazetteer Paper Map...,"['0899334482', '0899334474', '0899333834', '19...",['https://images-na.ssl-images-amazon.com/imag...,"['>#84,484 in Office Products (See top 100)', ...",[],$21.96,0899333257,5.0,False,garminth first delorm atla gazett ever purchas...,garmin delorm atla amp gazett paper map arizona

In [26]:
df_all_15 = df_all_15[~(df_all_15['title_nlp'].isna())]
df_all_15 = df_all_15[~(df_all_15['text'].isna())]

In [27]:
df_all_15.shape

(370236, 13)

Process text and title_nlp separately

In [35]:
vectorizer_text, df_text = nlp_process(df_all_15['text'],max_features = None)

In [36]:
df_text

,abil,abl,absolut,absorb,access,accessori,accur,action,activ,actual,...,xxlarg,yard,ye,year,yellow,yoga,youll,zero,zip,zipper
0,0.0,0.132671,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.114819,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.0,0.0,0.0,0.327795,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.292515,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370231,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
370232,0.0,0.092590,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.178872,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
370233,0.0,0.000000,0.087185,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.088009,0.061971,0.0,0.0,0.0,0.0,0.0,0.0
370234,0.0,0.060656,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.073837,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
370235,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
vectorizer_title, df_title = nlp_process(df_all_15['title_nlp'],max_features = None)

In [38]:
df_title

,accessori,activ,adida,adjust,adult,air,airsoft,allen,alloy,aluminum,...,wheel,white,wide,women,work,workout,wrap,wrist,yoga,youth
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.21213,0.244767,0.0,0.204613,0.0
370232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.21213,0.244767,0.0,0.204613,0.0
370233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.21213,0.244767,0.0,0.204613,0.0
370234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.21213,0.244767,0.0,0.204613,0.0
370235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0

In [43]:
s3.list_buckets()['Buckets']

[{'Name': 'recommender-system-amazon',
  'CreationDate': datetime.datetime(2020, 9, 14, 18, 7, 18, tzinfo=tzlocal())}]

In [ ]:
bucket = 'recommender-system-amazon' # already created on S3
csv_buffer = StringIO()
df_text.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'df_text.csv').put(Body=csv_buffer.getvalue())