<a href="https://colab.research.google.com/github/alirezasdg1/Amazon-recommender-system/blob/master/notebooks/NLP_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## process text data

In [61]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen
from google.colab import files
import numpy as np

import re
import urllib
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [62]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [63]:
df_all_15 = pd.read_csv("/content/drive/My Drive/Datasets/df_all_15.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
df_all_15.drop(['Unnamed: 0','tech1', 'tech2','Unnamed: 0_x','fit','similar_item','date','details','Unnamed: 0_y','reviewTime','reviewerID','reviewerName','vote','image_y','Total_review_C','Total_review_P'], axis=1,inplace=True)

In [65]:
df_all_15.head(2)

                                            category  ...                      style
0  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...  {'Format:': ' Paperback'}
1  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...  {'Format:': ' Paperback'}

[2 rows x 18 columns]

In [66]:
df_all_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370260 entries, 0 to 370259
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   category        370260 non-null  object
 1   description     370260 non-null  object
 2   title           370252 non-null  object
 3   also_buy        370260 non-null  object
 4   image_x         370260 non-null  object
 5   brand           359110 non-null  object
 6   feature         370260 non-null  object
 7   rank            370260 non-null  object
 8   also_view       370260 non-null  object
 9   main_cat        369863 non-null  object
 10  price           305197 non-null  object
 11  asin            370260 non-null  object
 12  overall         370260 non-null  float64
 13  verified        370260 non-null  bool
 14  reviewText      370160 non-null  object
 15  summary         370177 non-null  object
 16  unixReviewTime  370260 non-null  int64
 17  style           229301 non-null  object
dtypes: bool(1), float64(1), int64(1), object(15)
memory usage: 48.4+ MB

In [67]:
df_all_15 = df_all_15[df_all_15['title'].notnull()]

In [70]:
df_all_15['description'] = df_all_15['description'].replace(np.nan, ' ', regex=True)
df_all_15['brand'] = df_all_15['brand'].replace(np.nan, ' ', regex=True)
df_all_15['feature'] = df_all_15['feature'].replace(np.nan, ' ', regex=True)
df_all_15['reviewText'] = df_all_15['reviewText'].replace(np.nan, ' ', regex=True)
df_all_15['summary'] = df_all_15['summary'].replace(np.nan, ' ', regex=True)
df_all_15['style'] = df_all_15['style'].replace(np.nan, ' ', regex=True)

In [72]:
df_all_15["item_text"] = df_all_15["description"]+df_all_15["brand"]+df_all_15["feature"]+df_all_15["summary"]+df_all_15['style']

In [ ]:
df_all_15["image_x"].iloc[100]

"['https://images-na.ssl-images-amazon.com/images/I/510IoiKdv-L._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/31wNURrrBSL._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/41kb57MKTsL._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/4152ysfRboL._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/41A8vr5krnL._SS40_.jpg']"

In [ ]:
df_all_15["image_x"].iloc[1].split(',')[0][2:-1]

'https://images-na.ssl-images-amazon.com/images/I/51eXt4FThxL._SS40_.jpg'

In [ ]:
df_all_15["image_x"].iloc[25678].split(',')[0][2:-1]

'https://images-na.ssl-images-amazon.com/images/I/712AbM5F8oL._SS40_.jpg'

In [ ]:
df_all_15["image_x"].iloc[1].split(',')[0][2:-1]

'https://images-na.ssl-images-amazon.com/images/I/51eXt4FThxL._SS40_.jpg'

In [ ]:
df_all_15["image_x"].iloc[0]

"['https://images-na.ssl-images-amazon.com/images/I/51eXt4FThxL._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/31bqMEqwU3L._SS40_.jpg']"

## preprosses text data

In [73]:
def text_process(text):
        
        text = re.sub(r'<[^>]*>', ' ', text).strip()
        text = text.lower()
        text = re.sub('\[.*?\]', '', text)
        text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
        text = re.sub('\w*\d\w*', '', text)
        text = re.sub('[‘’“”…]', '', text)
        text = re.sub('\n', '', text)
        nopunc = [char for char in text if char not in string.punctuation]

        nopunc = ''.join(nopunc)
        list_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
     
        stemmer_snowball = PorterStemmer()
 
        tokens_stemsnowball = [stemmer_snowball.stem(sent) for sent in list_words]

        return ' '.join(tokens_stemsnowball)

In [74]:
df_all_15['item_text'] = df_all_15['item_text'].apply(text_process)

In [75]:
df_all_15['reviewText'] = df_all_15['reviewText'].apply(text_process)

In [76]:
df_all_15['title_nlp'] = df_all_15['title'].apply(text_process)

In [78]:
df_all_15.head(1)

                                            category  ...                              title_nlp
0  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...  delorm new york state atla amp gazett

[1 rows x 20 columns]

In [79]:
df_all_15.drop(['description','brand','feature','reviewText','summary',"style"], axis=1,inplace=True)

In [80]:
df_all_15.head()

                                            category  ...                                        title_nlp
0  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...            delorm new york state atla amp gazett
1  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...            delorm new york state atla amp gazett
2  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...            delorm new york state atla amp gazett
3  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...  garmin delorm atla amp gazett paper map arizona
4  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...  garmin delorm atla amp gazett paper map arizona

[5 rows x 14 columns]

In [81]:
df_all_15.drop(['unixReviewTime','main_cat'],axis=1,inplace=True)

In [82]:
df_all_15.to_csv('/content/drive/My Drive/Datasets/df_all_15_text.csv')

In [83]:
pip install awscli

Collecting awscli
  Downloading https://files.pythonhosted.org/packages/db/1d/861d33dc26b2a6cb5457d6a7e05378e132a0df3de6341c0eee96e0207518/awscli-1.18.139-py2.py3-none-any.whl (3.3MB)
     |████████████████████████████████| 3.3MB 3.5MB/s
Collecting colorama<0.4.4,>=0.2.5; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: PyYAML<5.4,>=3.10; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from awscli) (3.13)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from awscli) (0.3.3)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from awscli) (0.15.2)
Collecting rsa<=4.5.0,>=3.1.2; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/26/f8/8127fdda0294f044121d20aac7785feb810e159098447967a6103dedfb96/rsa-4.5-py2.py3-none-any.whl
Collecting botocore==1.17.62
  Downloading https://files.pythonhosted.org/packages/1f/df/38d177a527ce7882a4c3d6bb3b22ddb6dec304faec691f5c13c530cbccf2/botocore-1.17.62-py2.py3-none-any.whl (6.6MB)
     |████████████████████████████████| 6.6MB 30.1MB/s
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<=4.5.0,>=3.1.2; python_version != "3.4"->awscli) (0.4.8)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.62->awscli) (1.24.3)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.62->awscli) (2.8.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.62->awscli) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.17.62->awscli) (1.15.0)
Installing collected packages: colorama, rsa, botocore, awscli
  Found existing installation: rsa 4.6
    Uninstalling rsa-4.6:
      Successfully uninstalled rsa-4.6
  Found existing installation: botocore 1.17.59
    Uninstalling botocore-1.17.59:
      Successfully uninstalled botocore-1.17.59
Successfully installed awscli-1.18.139 botocore-1.17.62 colorama-0.4.3 rsa-4.5

In [84]:
import boto3

In [85]:
s3 = boto3.client('s3')

In [87]:
aws configure

SyntaxError: ignored