<a href="https://colab.research.google.com/github/alirezasdg1/Amazon-recommender-system/blob/master/notebooks/prepare_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocess the datasets

First I downlaod the dataset and prepare them for furthure analyses.

In [14]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen
from google.colab import files
import numpy as np

Dataset for the products

In [3]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles/meta_Sports_and_Outdoors.json.gz

--2020-09-14 17:10:05--  http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles/meta_Sports_and_Outdoors.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 512767929 (489M) [application/octet-stream]
Saving to: ‘meta_Sports_and_Outdoors.json.gz’

meta_Sports_and_Out 100%[===================>] 489.01M  55.4MB/s    in 9.1s

2020-09-14 17:10:14 (53.7 MB/s) - ‘meta_Sports_and_Outdoors.json.gz’ saved [512767929/512767929]

In [4]:
### load the meta data

data = []
with gzip.open("meta_Sports_and_Outdoors.json.gz") as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

962300
{'category': ['Sports & Outdoors', 'Sports & Fitness', 'Other Sports', 'Dance', 'Clothing'], 'tech1': '', 'description': ['3 layers of super-soft polyester tulle can be cut to length. Satin covered stretch elastic waist gives a one size fits all most.'], 'fit': '', 'title': 'Adult Tutu Assorted Colors (Turquoise)', 'also_buy': [], 'image': [], 'tech2': '', 'brand': 'BubuBibi', 'feature': ['3 Layers - 100% Polyester Tulle, Hand Wash Lay FLat to Dry', '100% Polyester', 'FIT: most Kids. Teens . Adults *Please Check Measurements for Proper Fit', 'WAIST: Satin Covered Elastic 18" relaxed to 36" fully stretched', 'LENGTH: 16" to 17" *can easily be cut to desired length without worry of fraying or unraveling', 'You can return this item for any reason and get a full refund: no shipping charges. The item must be returned in new and unused condition.', '<a id="creturns-policy-url-text-pc" class="a-link-normal" href="/b/ref=frt_dp_sm?ie=UTF8&node=8622296011">\n                        Read the full returns policy\n                    </a>', 'Go to Your Orders to start the return', 'Print the return shipping label', 'Ship it!', '<span class="a-text-bold">Product Dimensions:\n                    </span>\n                    <span>11 x 8.1 x 1.6 inches</span>', '<span class="a-text-bold">Shipping Weight:\n                    </span>\n                    <span>6.4 ounces (<a href=\'https://www.amazon.com/gp/help/seller/shipping.html/ref=dp_pd_shipping?_encoding=UTF8&amp;seller=ATVPDKIKX0DER&amp;asin=0000032042\'>View shipping rates and policies</a>)</span>', '<span class="a-text-bold">ASIN:\n                    </span>\n                    <span>0000032042</span>', '', '<span class="a-text-bold">Date first listed on Amazon:\n                    </span>\n                    <span>May 25, 2013</span>', '<span class="a-text-bold">\n                    Average Customer Review:\n                </span>\n                \n\n\n\n\n<style type="text/css">\n    /* \n    * Fix for UDP-1061. Average customer reviews has a small extra line on hover \n    * https://omni-grok.amazon.com/xref/src/appgroup/websiteTemplates/retail/SoftlinesDetailPageAssets/udp-intl-lock/src/legacy.css?indexName=WebsiteTemplates#40\n    */\n    .noUnderline a:hover { \n        text-decoration: none; \n    }\n</style>\n\n\n\n    \n    \n    \n    \n        \n\n        \n\n        \n        \n        \n        \n\t\t\n\t\t\n\t\t\n\t\t\n\t\t        \n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t        \n        \n\n        <div id="detailBullets_averageCustomerReviews" class="a-spacing-none" data-asin="0000032042" data-ref="dpx_acr_pop_" >\n            \n            \n            \n                \n                \n                    \n\n\n\n\n\n\n\n\n\n\n        <span class="a-declarative" data-action="acrStarsLink-click-metrics" data-acrStarsLink-click-metrics="{}">\n            \n\n\n\n\n\n    <span id="acrPopover" class="reviewCountTextLinkedHistogram noUnderline" title="3.4 out of 5 stars">\n        <span class="a-declarative" data-action="a-popover" data-a-popover="{&quot;max-width&quot;:&quot;700&quot;,&quot;closeButton&quot;:&quot;false&quot;,&quot;position&quot;:&quot;triggerBottom&quot;,&quot;url&quot;:&quot;/gp/customer-reviews/widgets/average-customer-review/popover/ref=dpx_acr_pop_?contextId=dpx&amp;asin=0000032042&quot;}">\n            <a href="javascript:void(0)" class="a-popover-trigger a-declarative">\n                \n\n<i class="a-icon a-icon-star a-star-3-5"><span class="a-icon-alt">3.4 out of 5 stars</span></i>\n                \n            <i class="a-icon a-icon-popover"></i></a>\n        </span>\n        <span class="a-letter-space"></span>\n    </span>\n\n\n        </span>\n        <span class="a-letter-space"></span>\n        \n        \n\n        \n\n        \n\n        \n        \n        \n        \n        \n        \n        \n            \n            \n                <span class="a-declarative" data-action="acrLink-click-metrics" data-acrLink-click-metrics="{}">\n                    <a id="acrCustomerReviewLink" class="a-link-normal" href="#customerReviews">\n                        <span id="acrCustomerReviewText" class="a-size-base">8 customer reviews</span>\n                    </a>\n                </span>\n            \n                <script type="text/javascript">\n                    P.when(\'A\', \'ready\').execute(function(A) {\n                        A.declarative(\'acrLink-click-metrics\', \'click\', { "allowLinkDefault" : true }, function(event){\n                            if(window.ue) {\n                                ue.count("acrLinkClickCount", (ue.count("acrLinkClickCount") || 0) + 1);\n                            }\n                        });\n                    });\n                </script>\n            \n            \n            \n            \n        \n        \n        <script type="text/javascript">\n            P.when(\'A\', \'cf\').execute(function(A) {\n                A.declarative(\'acrStarsLink-click-metrics\', \'click\', { "allowLinkDefault" : true },  function(event){\n                    if(window.ue) {\n                        ue.count("acrStarsLinkWithPopoverClickCount", (ue.count("acrStarsLinkWithPopoverClickCount") || 0) + 1);\n                    }\n                });\n            });\n        </script>\n\n\n                \n            \n        </div>'], 'rank': '712,899 in Clothing, Shoes & Jewelry (', 'also_view': ['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B07BSZ4GYZ', 'B07CJWWMQW', 'B074DQJMYT', 'B002BZX8Z6', 'B07CPV7P5B', 'B01M0BIP9H', 'B07C9T6L8D', 'B07FQ3QG5G', 'B0717BCCGP', 'B01M0N9TCF', 'B01B8L258E', 'B06XBG5JZP', 'B0764FVL5D', 'B06XSMMGCR', 'B00VXJHFRS', 'B07C29WWV1', 'B00YAA2OIM', 'B01N9FPI8L', 'B07C59B19B', 'B01MAXSJRI', 'B075LDMYQX', 'B00HWF7KL8', 'B010CO0TKE', 'B07BS6BB44', 'B0787MGP57', 'B01KBX2SP0', 'B00BEU1PB8', 'B01N1TUL0J', 'B017IIKQSW', 'B071HB7YR6', 'B0774B3TPN', 'B005C4Y4F6', 'B071DZB539', 'B01LZ469DF', 'B009THXHPA', 'B078WPG8V6', 'B00TGDCFJQ', 'B07BVDXLS3', 'B06Y637BFS', 'B07GXKD7DZ', 'B002DMK3NC', 'B07BJ9GF9Q', 'B01B8L18IW', 'B07DWNBRXP', 'B01N9569M8', 'B078NTTW5C', 'B075WR53KQ', 'B07BVN9Q2X', 'B00BEU1HFM', 'B07FSL41RK', 'B07G5RFWV2', 'B01D4LH2L6', 'B07DFPBZBW', 'B00WTGV0O8', 'B00KOGJDSA', 'B01CO5M30I'], 'main_cat': '<img src="https://images-na.ssl-images-amazon.com/images/G/01/nav2/images/gui/amazon-fashion-store-new._CB520838675_.png" class="nav-categ-image" alt="AMAZON FASHION"/>', 'similar_item': '', 'date': '<div class="a-fixed-left-grid a-spacing-none"><div class="a-fixed-left-grid-inner" style="padding-left:280px"><div class="a-fixed-left-grid-col a-col-left" style="width:280px;margin-left:-280px;float:left;"><span class="a-declarative" data-action="reviews:filter-action:push-state" data-reviews:filter-action:push-state="{&quot;scrollToSelector&quot;:&quot;#reviews-filter-info&quot;,&quot;allowLinkDefault&quot;:&quot;1&quot;}"><table id="histogramTable" class="a-normal a-align-middle a-spacing-base" role="presentation"><tr data-reftag="cm_cr_dp_d_hist_5" data-reviews-state-param="{&quot;filterByStar&quot;:&quot;five_star&quot;,&quot;pageNumber&quot;:&quot;1&quot;}" class="a-histogram-row"><td class="aok-nowrap"><a aria-label="5 star (63%)" class="a-size-base a-link-normal 5star" title="5 star" href="/Adult-Tutu-Assorted-Colors-Turquoise/product-reviews/0000032042/ref=cm_cr_dp_d_hist_5?ie=UTF8&amp;filterByStar=five_star&amp;reviewerType=all_reviews#reviews-filter-bar">5 star</a><span class="a-letter-space"></span>', 'price': '$11.80', 'asin': '0000032042'}

In [5]:
# convert list into pandas dataframe

df_products = pd.DataFrame.from_dict(data)

print(len(df_products))

962300

# Product dataframe

In [6]:
df_products.columns

Index(['category', 'tech1', 'description', 'fit', 'title', 'also_buy', 'image',
       'tech2', 'brand', 'feature', 'rank', 'also_view', 'main_cat',
       'similar_item', 'date', 'price', 'asin', 'details'],
      dtype='object')

In [7]:
df_products.head()

                                            category tech1  ...        asin details
0  [Sports & Outdoors, Sports & Fitness, Other Sp...        ...  0000032042     NaN
1  [Sports & Outdoors, Sports & Fitness, Other Sp...        ...  0000032069     NaN
2  [Sports & Outdoors, Sports & Fitness, Other Sp...        ...  0000031860     NaN
3  [Sports & Outdoors, Sports & Fitness, Other Sp...        ...  0000031852     NaN
4  [Sports & Outdoors, Sports & Fitness, Other Sp...        ...  0000031895     NaN

[5 rows x 18 columns]

In [13]:
df_products.to_csv('df_products.csv')

In [15]:
files.download("df_products.csv")

In [11]:
df_products[df_products.astype(str)['image'] != '[]']

(476483, 18)

## Review data

In [17]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFiles/Sports_and_Outdoors.json.gz

--2020-09-14 17:54:01--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFiles/Sports_and_Outdoors.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1690448337 (1.6G) [application/octet-stream]
Saving to: ‘Sports_and_Outdoors.json.gz’

Sports_and_Outdoors 100%[===================>]   1.57G  49.7MB/s    in 33s

2020-09-14 17:54:35 (48.9 MB/s) - ‘Sports_and_Outdoors.json.gz’ saved [1690448337/1690448337]

In [18]:
data = []
with gzip.open('Sports_and_Outdoors.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

12980837
{'overall': 5.0, 'verified': False, 'reviewTime': '02 1, 2014', 'reviewerID': 'A23K73OVXJ04EG', 'asin': '0000031895', 'reviewerName': 'Lamb612000', 'reviewText': 'It was as described and fit my 6 year old grand daughter perfectly. She loves to play dress-up and this is a good addition to her wardrobe. I received the item quickly and the packaging was great.', 'summary': 'Neon Blue Tutu', 'unixReviewTime': 1391212800}

In [19]:
df_review = pd.DataFrame.from_dict(data)

print(len(df_review))

12980837

In [20]:
del data

In [ ]:
df_review.head()

In [23]:
df_review.to_csv('df_review.csv')

In [24]:
files.download("df_review.csv")

## Save dataframe to google drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df_product = pd.read_csv("/content/drive/My Drive/Datasets/df_products.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_product.shape

(962300, 19)

In [6]:
df_review = pd.read_csv("/content/drive/My Drive/Datasets/df_review.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_review.shape

(12980837, 13)

In [21]:
!cp /content/df_products.csv "/content/My Drive/Datasets"

cp: cannot stat '/content/df_products.csv': No such file or directory

In [22]:
!cp /content/df_review.csv "/content/My Drive/Datasets"

cp: cannot stat '/content/df_review.csv': No such file or directory

In [7]:
df_product.head(2)

   Unnamed: 0  ... details
0           0  ...     NaN
1           1  ...     NaN

[2 rows x 19 columns]

In [8]:
df_review.head(2)

   Unnamed: 0  overall  verified   reviewTime  ... unixReviewTime vote style image
0           0      5.0     False   02 1, 2014  ...     1391212800  NaN   NaN   NaN
1           1      4.0      True  11 20, 2013  ...     1384905600  NaN   NaN   NaN

[2 rows x 13 columns]

## Remove products without images

In [9]:
df_product_img = df_product[df_product.astype(str)['image'] != '[]'].copy()

In [10]:
df_product_img.shape

(476483, 19)

In [11]:
df_product_img.head(2)

    Unnamed: 0  ... details
6            6  ...     NaN
11          11  ...     NaN

[2 rows x 19 columns]

In [12]:
df_all = pd.merge(df_product_img,df_review,on='asin')

In [53]:
df_all.head(1)

   Unnamed: 0_x  ... image_y
0             6  ...     NaN

[1 rows x 31 columns]

In [13]:
df_all.columns

Index(['Unnamed: 0_x', 'category', 'tech1', 'description', 'fit', 'title',
       'also_buy', 'image_x', 'tech2', 'brand', 'feature', 'rank', 'also_view',
       'main_cat', 'similar_item', 'date', 'price', 'asin', 'details',
       'Unnamed: 0_y', 'overall', 'verified', 'reviewTime', 'reviewerID',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'style', 'image_y'],
      dtype='object')

In [70]:
df_test = df_all.groupby('reviewerID').agg(Total_review_C=('asin', 'count')).reset_index()

In [72]:
df_test2 = df_all.groupby('asin').agg(Total_review_P=('reviewerID', 'count')).reset_index()

In [73]:
df_test

                   reviewerID  Total_review_C
0        A0000040I1OM9N4SGBD8               1
1        A0000074RA15UCBH3ON5               1
2        A000013090ZI3HIT9N5V               3
3        A0000196KBA0ICH151EG               1
4        A00008882A0PUVHCTDUP               2
...                       ...             ...
5554032         AZZZV0D9D5V05               1
5554033         AZZZVAXZQB7JJ               7
5554034         AZZZWV7EIR8PG               1
5554035         AZZZY1W55XHZR               3
5554036         AZZZYAYJQSDOJ               4

[5554037 rows x 2 columns]

In [79]:
df_test2

              asin  Total_review_P
0       0000012300               1
1       0500615594               1
2       0692747222              14
3       0899332757              94
4       0899333257             160
...            ...             ...
474965  B01HJGDIBK               4
474966  B01HJGDVEE               1
474967  B01HJGIZ2W              11
474968  B01HJGNPLI               1
474969  B01HJH3742               9

[474970 rows x 2 columns]

In [76]:
df_new = pd.merge(df_all,df_test,on='reviewerID', how='left')

In [81]:
df_new.head(1)

   Unnamed: 0_x  ... Total_review_P
0             6  ...              1

[1 rows x 34 columns]

In [89]:
df_new[(df_new['Total_review_P']>15) & (df_new['Total_review_C']>15)].shape

(370260, 34)

In [66]:
df_new[df_new["Total_review"] >= 10].shape

(917559, 33)

In [69]:
df_new2[df_new2["Total_review"] >= 10].shape

(8832112, 33)

In [59]:
df_all[df_all["product_count"] >= 10].sum()

Unnamed: 0_x      0.0
category          0.0
tech1             0.0
description       0.0
fit               0.0
title             0.0
also_buy          0.0
image_x           0.0
tech2             0.0
brand             0.0
feature           0.0
rank              0.0
also_view         0.0
main_cat          0.0
similar_item      0.0
date              0.0
price             0.0
asin              0.0
details           0.0
Unnamed: 0_y      0.0
overall           0.0
verified          0.0
reviewTime        0.0
reviewerID        0.0
reviewerName      0.0
reviewText        0.0
summary           0.0
unixReviewTime    0.0
vote              0.0
style             0.0
image_y           0.0
product_count     0.0
dtype: float64

In [29]:
df_test[(df_test.Total_review > 10)].shape

(103294, 2)

In [ ]:
df_all[df_test.asin]

In [21]:
byasin = df_all.groupby('asin').aggregate('count')
tags = byasin[byasin.reviewerID >= 10].index
data[data['asin'].isin(tags)].shape

NameError: ignored

In [15]:
df_all.drop(['tech1', 'tech2','Unnamed: 0_x','fit','similar_item','date','details','Unnamed: 0_y','reviewTime','reviewerID','reviewerName','vote','image_y'], axis=1,inplace=True)

In [16]:
df_all.head()

                                            category  ...                              style
0  ['Sports & Outdoors', 'Outdoor Recreation', 'C...  ...                                NaN
1  ['Sports & Outdoors', 'Sports & Fitness', 'Gol...  ...                                NaN
2  ['Sports & Outdoors', 'Sports & Fitness', 'Exe...  ...  {'Format:': ' Perfect Paperback'}
3  ['Sports & Outdoors', 'Sports & Fitness', 'Exe...  ...  {'Format:': ' Perfect Paperback'}
4  ['Sports & Outdoors', 'Sports & Fitness', 'Exe...  ...  {'Format:': ' Perfect Paperback'}

[5 rows x 18 columns]

In [17]:
del df_product_img, df_review

## NLP text

In [42]:
import re
import urllib
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
def text_process(text):
        text = re.sub(r'<[^>]*>', ' ', text).strip()
        text = text.lower()
        text = re.sub('\[.*?\]', '', text)
        text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
        text = re.sub('\w*\d\w*', '', text)
        text = re.sub('[‘’“”…]', '', text)
        text = re.sub('\n', '', text)
        nopunc = [char for char in text if char not in string.punctuation]

        nopunc = ''.join(nopunc)
        list_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
     
        stemmer_snowball = PorterStemmer()
 
        tokens_stemsnowball = [stemmer_snowball.stem(sent) for sent in list_words]

        return ' '.join(tokens_stemsnowball)

In [19]:
def nlp_process(df):

    df["text"] = df["description"]+df["brand"]+df["feature"]+df["reviewText"]+df["summary"]+df['style']
        

    df['text'] = df['text'].apply(text_process)

    # vectorizer = TfidfVectorizer(min_df = 3,max_df = 0.8, max_features = 1200)
    # m_nlp = vectorizer.fit_transform(df["text"]).toarray()
    # df_nlp = pd.DataFrame(m_nlp, columns=vectorizer.get_feature_names())
    
    return df_nlp

In [ ]:
df_all = nlp_process(df_all)

In [73]:
df_all["style"].iloc[9794153]

"{'Size:': ' Small', 'Color:': ' Black/White'}"